@model IEnumerable<CourseApi.Models.Entity.Course>


<div class="container">
    <a asp-action="index">get All</a>
 

    <div class="card-group mt-lg-5">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 mb-4 ">
                <div class="card">
                    <img src="@item.CoursePhotoUrl" height="160" width="240" />
                    <img src="@item.Institute.InstitutephotoUrl" height="70" width="70" />
                    <div class="card-body ">
                        <h4 class="card-title">@Html.DisplayFor(model => item.CourseName)</h4>
                        <p class="col-sm-10">
                            @Html.DisplayFor(model => item.Institute.InstituteName)
                        </p>
                        <p class="col-sm-10">
                            @Html.DisplayFor(model => item.Level) |
                            @Html.DisplayFor(model => item.Rate)
                        </p>

                    </div>
                </div>
            </div>
        }
    </div>
</div>



